/* ==========================================================================
  styles for body  
========================================================================== */
body{
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Arimo', 'Open Sans', serif;
  font-weight: 400;
  background-color: #D3E4F9;
  line-height: 23px;
  color:#333;
}
/* ==========================================================================
  styles for Ribbon in header
========================================================================== */
.ribbon{
  text-align: center;
  background: #eee;
  border-left: 1px dashed #aaa;
  border-right: 1px dashed #aaa;
  border-radius: 5px 5px 0 0;
  box-shadow: 5px 0 0 #eee, -5px 0 0 #eee;
  height: 120px;
  margin: -504px 5px;
  position: absolute;
  width: 90px;
  -webkit-filter: drop-shadow(0 2px 5px hsla(0,0%,0%,.5));
}
.ribbon:after, .ribbon:before{
  border-top: 15px solid #eee;
  content: '';
  height: 0;
  position: absolute;
  top: 100%;
  width: 0;
}
.ribbon:after{
  border-left: 50px solid transparent;
  right: -6px;
}
.ribbon:before{
  border-right: 50px solid transparent;
  left: -6px;
}
.ribbon img{
  width: 75px;
  margin-top: 25px;
}
#ribbon-3d-effect{
  width: 102px;
  height: 10px;
  margin-top: -504px;
  background-color: #eee;
  position: relative;
  border-radius: 5px 5px 0 0;
  background-image: -moz-linear-gradient(top,#999999,#EEEEEE);
  background-image: -moz-linear-gradient(top,#999999,#EEEEEE);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#999999),to(#EEEEEE));
  background-image: -webkit-linear-gradient(top,#999999,#EEEEEE);
  background-image: -o-linear-gradient(top,#999999,#EEEEEE);
  background-image: linear-gradient(to bottom,#999999,#EEEEEE);
  opacity: 0.3;
  z-index: 2;
}
/* ==========================================================================
  styles for Header  
========================================================================== */
header{
  margin-bottom: 20px;
  height: 500px;
}
#caption{
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 35px;
  margin-top: 35px;
  line-height: 40px;
  font-family: 'Rufina', Georgia, sans-serif;
}
.masthead{
  border-bottom: 4px solid #005C52;
}
/* ==========================================================================
  styles for Course-content div  
========================================================================== */
.course-content{
  padding: 25px;
}
.course-content p{
  padding-bottom: 45px;
}
.course-content h3{
  font-size: 18px;
  border-bottom: 3px solid rgb(188, 190, 192);
  color: rgb(20, 118, 209); 
}
.course-content > ul > li {
  color: #12589e;
  font-weight: bold;
  line-height: 28px;
  list-style-type: square;
  margin-bottom: 3px;
}
.course-content ul ul > li{
  font-weight: normal;
  color: #000;
  line-height: 23px;
}
.bigdata{
  text-align: center;
  padding-bottom: 30px;
  font-size: 19px;
  line-height: 27px;
}
.bigdata a{
  text-decoration: none;
}
/* ==========================================================================
  styles for participation-criteria div  
========================================================================== */
.participation-criteria{
  padding: 25px;
}
.participation-criteria li{
  line-height: 23px;
  list-style-type: square;
}
/* ==========================================================================
  styles for Speaker div  
========================================================================== */

.speaker{
  padding: 25px;
}
.polaroid{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#speaker-name{
  font-weight: bold;
}
.polaroid{
  position: relative;
  width: 70%;
  margin-bottom: 38px; 
  margin-top: 15px;
}
.polaroid img{
  width: 200px;
  border: 10px solid #fff;
  border-bottom: 45px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
  -moz-box-shadow: 3px 3px 3px #777;
  box-shadow: 3px 3px 3px #777;
  -webkit-transform: rotate(358deg);
  -moz-transform: rotate(358deg);
  -ms-transform: rotate(358deg);
  -o-transform: rotate(358deg);
  transform: rotate(358deg);
  -webkit-box-shadow: rgba(11,44,61,0.5) 0 0 20px;
  -moz-box-shadow: rgba(11,44,61,0.5) 0 0 20px;
  box-shadow: rgba(11,44,61,0.5) 0 0 20px;
}
.polaroid p{
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  color: rgb(0, 0, 0);
}
.speaker a{
  text-decoration: none;
}
.preview-video{
  padding: 5%;
}

/* ==========================================================================
  styles for When , Where and How-much divs
========================================================================== */
.date-of-event h4{
  margin-bottom: 15px;
  color: #666;
}
#calendar-links li{
  list-style-type: square;
  margin-left: 15px;
  line-height: 23px;
}
address{
  margin-bottom: 10px;
  line-height: 23px;
}
.place-of-event, .date-of-event, .price-of-event{
  min-height: 225px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
}
.price-of-event p{
  padding-right: 50px;
}
.fix-pos{
  margin-top: 8px;
}


/* ==========================================================================
  styles for About Hasgeek Div
========================================================================== */
.about-hasgeek{
  padding: 25px;
}
.about-hasgeek img{
  margin-bottom: 20px;
  overflow: hidden;
  width: 150px;
  height: auto;
}


/* ==========================================================================
  styles for Footer
========================================================================== */
#press-footer{
  background-image: url('../img/fence.jpg');
  width: 100%;
  height: 80px;
  margin-top: 10px;
}
footer{
  padding-bottom: 12px;
  padding-top: 8px;
  margin-bottom: -5px;
  text-align: center;
  color: #065F57;
  font-size: 13px;
  line-height: 12px;
  background-color: #45C73D;
  background-repeat: repeat-x;
}
#copyright{
  text-align: left;
}
#credits{
  display: inline-block;
  text-align: right;
}

/* ==========================================================================
  styles for Common  
========================================================================== */
.top-buffer{
  margin-top: 25px;
}
.bottom-buffer{
  margin-bottom: 80px;
}
.btn-large{
  font-size: 23.5px;
}
.bg-color{
  background:rgb(230, 238, 238);
}

.box-style h2{
  color: #12589e;
  /*text-shadow: 3px 3px rgb(255, 255, 255);*/
  padding-left: 10px;
  font-family: 'Rufina', Georgia, sans-serif;
  font-size: 25px;
}
h3{
  font-size: 20px;
  color: #000;
}
h2 span{
  padding-top: 6px;
}
h2{
  margin-bottom: 5px;
}
#caption, .box-style h2, .course-content > ul > li{
  color: #065F57;
}
.btn-info{
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #006dcc;
  *background-color: #04c;
  background-image: -moz-linear-gradient(top,#2E7976,#065F57);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#2E7976),to(#065F57));
  background-image: -webkit-linear-gradient(top,#2E7976,#065F57);
  background-image: -o-linear-gradient(top,#2E7976,#065F57);
  background-image: linear-gradient(to bottom,#2E7976,#065F57);
  background-repeat: repeat-x;
  border-color: #4B711E;
  font-size: 18px;
  padding: 4px 12px 6px 12px;
}
 .btn-info:hover,.btn-info:focus,.btn-info:active,.btn-info.active,.btn-info.disabled,.btn-info[disabled]{
  color: #fff;
  background-color: #005E56;
  *background-color: #2E7976;
}
.btn-info:active,.btn-info.active{
  background-color: #039 \9;
}

/*==================================================
 * Effect 2
 * ===============================================*/
.effect2{
  position: relative;
  margin-bottom: 20px;
}
.effect2:before, .effect2:after{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.effect2:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

/*==================================================
 * Media Queries
 * ===============================================*/
@media only screen and (max-device-width: 480px){
  .place-of-event, .date-of-event, .price-of-event{
    height: auto;
    padding-bottom: 10px;
  }
}

@media (max-width: 767px){
  header{
    height: 90px;
    background: url("../img/hasgeek-presents.png") no-repeat; 
    text-align: center; 
    margin-left: 15px;
    margin-top: 35px;
  }
  .ribbon, #ribbon-3d-effect, .masthead{
    display: none;
  }
  .polaroid img{
    width: 60%;
    height: auto;
  }
  .about-hasgeek img{
    margin-bottom: 10px;
    width: 60px;
    height: auto;
  }
  #credits, #copyright{
    text-align: center;
    padding: 5px;
  }
  #press-footer{
    margin: 0;
  }
  .fix-pos{
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) and (max-width: 979px){
  .place-of-event, .date-of-event, .price-of-event{
    min-height: 240px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .place-of-event a{
    margin-top: 10px;
  }
  .fix-pos{
    margin-top: 5px;
  }
  header{
    height: 300px;
  }
  #caption{
    font-size: 25px;
    margin-bottom: 20px;
  }
  .box-style h2{
    font-size: 24px;
  }
  h3{
    font-size: 18px;
    line-height: 28px;
  }
  .sidebar{
    font-size: 16px;
    line-height: 19px;
  }
  .ribbon{
    margin-top: -313px;
  }
  #ribbon-3d-effect{
    margin-top: -313px;
  }
  .about-hasgeek img{
    margin-bottom: 10px;
    width: 50px;
    height: auto;
  }
  .polaroid img{
    width: 100px;
    height: auto;
    border-width: 5px;
    border-bottom-width: 30px;
  }
  .polaroid{
    margin-top: 0px;
  }
  .price-of-event p{
    padding-right: 0px;
  }
}
@media (min-width: 980px) and (max-width: 1200px){
  header{
    height: 390px;
  }
  .ribbon{
    margin-top: -406px;
  }
  #ribbon-3d-effect{
    margin-top: -406px;
  }
  .about-hasgeek img{
    margin-bottom: 10px;
    width: 100px;
    height: auto;
  }
  .polaroid img{
    width: 180px;
    height: auto;
    border-width: 7px;
    border-bottom-width: 35px;
  }
  .speaker-name{
    vertical-align: 33px;
  }
  #caption{
    margin-bottom: 25px;
    font-size: 28px;
  }
  .place-of-event, .date-of-event, .price-of-event{
    min-height: 220px;
    padding-left: 18px;
    padding-right: 15px;
    padding-top: 5px;
  }
  .price-of-event p{
    padding-right: 0px;
  }
  .sidebar{
    line-height: 21px;
  }
}
