/* ==========================================================================
  styles for body  
========================================================================== */
body{
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Arimo', 'Open Sans', serif;
  font-weight: 400;
  background-color: #D3E5F9;
  line-height: 20px;
  color:#333;
}
/* ==========================================================================
  styles for Ribbon in header
========================================================================== */
.ribbon{
  text-align: center;
  background: #eee;
  border-left: 1px dashed #aaa;
  border-right: 1px dashed #aaa;
  border-radius: 5px 5px 0 0;
  box-shadow: 5px 0 0 #eee, -5px 0 0 #eee;
  height: 120px;
  margin: -500px 5px;
  position: absolute;
  width: 90px;
  -webkit-filter: drop-shadow(0 2px 5px hsla(0,0%,0%,.5));
}
.ribbon:after, .ribbon:before{
  border-top: 15px solid #eee;
  content: '';
  height: 0;
  position: absolute;
  top: 100%;
  width: 0;
}
.ribbon:after{
  border-left: 50px solid transparent;
  right: -6px;
}
.ribbon:before{
  border-right: 50px solid transparent;
  left: -6px;
}
.ribbon img{
  width: 75px;
  margin-top: 25px;
}

/* ==========================================================================
  styles for Header  
========================================================================== */
header{
  margin-bottom: 20px;
  height: 500px;
}
#caption{
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 35px;
  line-height: 40px;
  font-family: 'Rufina', Georgia, sans-serif;
}
/* ==========================================================================
  styles for Course-content div  
========================================================================== */
.course-content{
  padding: 5%;
}
.course-content p{
  padding-bottom: 45px;
}
.course-content h3{
  font-size: 18px;
  border-bottom: 3px solid rgb(188, 190, 192);
  color: rgb(20, 118, 209); 
}
.course-content > ul > li {
  color: #12589e;
  font-weight: bold;
  line-height: 35px;
  list-style-type: square;
  margin-bottom: 8px;
}
.course-content ul ul > li{
  font-weight: normal;
  line-height: 25px;
  color: #000;
}
.bigdata{
  text-align: center;
  padding-bottom: 30px;
  font-size: 19px;
  line-height: 25px;
}
.bigdata a{
  text-decoration: none;
}
/* ==========================================================================
  styles for Speaker div  
========================================================================== */
.speaker{
  padding: 25px;
}
.speaker img{
  margin-left: 30px;
}
#speaker-name{
  font-weight: bold;
  color: #882B00;
}
.polaroid{
  position: relative;
  width: 70%;
  margin-bottom: 20px; 
  margin-top: 15px;
}
.polaroid img{
  border: 10px solid #fff;
  border-bottom: 45px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
  -moz-box-shadow: 3px 3px 3px #777;
  box-shadow: 3px 3px 3px #777;
  -webkit-transform: rotate(358deg);
  -moz-transform: rotate(358deg);
  -ms-transform: rotate(358deg);
  -o-transform: rotate(358deg);
  transform: rotate(358deg);
  -webkit-box-shadow: rgba(11,44,61,0.5) 0 0 20px;
  -moz-box-shadow: rgba(11,44,61,0.5) 0 0 20px;
  box-shadow: rgba(11,44,61,0.5) 0 0 20px;
}
.polaroid img:hover{
  -webkit-filter: contrast(150%);
} 
.polaroid p{
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  color: rgb(0, 0, 0);
  padding-left:40px;
}
.speaker a{
  text-decoration: none;
}
.preview-video{
  padding: 5%;
}

/* ==========================================================================
  styles for When , Where and How-much divs
========================================================================== */
#calendar-links{
  margin-top: 20px;
}
#calendar-links li{
  margin-bottom: 5px;
  list-style-type: square;
  margin-left: 15px;
}
address{
  margin-bottom: 0px;
}
.place-of-event, .date-of-event, .price-of-event{
  min-height: 220px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
}
.price-of-event p{
  padding-right: 50px;
}
.fix-pos{
  margin-top: 15px;
}
.when{
  background: transparent url('../img/clock_alarm.png') no-repeat;
  background-position: bottom right;
}
.where{
  background: transparent url('http://www.google.com/events/io/2011/static/img/map-icon.png') no-repeat bottom right;
}
.money {
  background:transparent url('../img/money_bag_yen.png') no-repeat;
  background-position: bottom right;
}

/* ==========================================================================
  styles for About Hasgeek Div
========================================================================== */
.about-hasgeek{
  padding: 25px;
}
.about-hasgeek img{
  margin-bottom: 20px;
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  overflow: hidden;
}
.about-hasgeek img:hover{
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg); 
  -o-transform:rotate(360deg);
  transform:rotate(360deg);
}
.hasgeek-logo{
  width:50%;
}

/* ==========================================================================
  styles for Footer
========================================================================== */
#press-footer{
  background-image: url('../img/grass.png');
  width: 100%;
  height: 58px;
}
footer{
  padding-bottom: 5px;
  padding-top: 4px;
  margin-bottom: -5px;
  text-align: center;
  color: #D3E5F9;
  font-size: 12px;
  line-height: 12px;
  background-color: #005A52;
  background-image: -moz-linear-gradient(top,#065F57,#4B711E);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#065F57),to(#4B711E));
  background-image: -webkit-linear-gradient(top,#065F57,#4B711E);
  background-image: -o-linear-gradient(top,#065F57,#4B711E);
  background-image: linear-gradient(to bottom,#065F57,#4B711E);
  background-repeat: repeat-x;
}
#copyright{
  text-align: left;
}
#credits{
  display: inline-block;
  text-align: right;
}

/* ==========================================================================
  styles for Common  
========================================================================== */
.top-buffer{
  margin-top: 25px;
}
.bottom-buffer{
  margin-bottom: 80px;
}
.btn-large{
  font-size: 23.5px;
}
.bg-color{
  background:rgb(230, 238, 238);
}
.box-style h2{
  color: #12589e;
  /*text-shadow: 3px 3px rgb(255, 255, 255);*/
  padding-left: 10px;
  font-family: 'Rufina', Georgia, sans-serif;
  font-size: 25px;
}
h3{
  font-size: 20px;
  color: #882B00;
}

#caption, .box-style h2, .course-content > ul > li{
  color: #065F57;
}
.btn-info{
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #006dcc;
  *background-color: #04c;
  background-image: -moz-linear-gradient(top,#2E7976,#065F57);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#2E7976),to(#065F57));
  background-image: -webkit-linear-gradient(top,#2E7976,#065F57);
  background-image: -o-linear-gradient(top,#2E7976,#065F57);
  background-image: linear-gradient(to bottom,#2E7976,#065F57);
  background-repeat: repeat-x;
  border-color: #4B711E;
  font-size: 18px;
  padding: 4px 12px 6px 12px;
}
 .btn-info:hover,.btn-info:focus,.btn-info:active,.btn-info.active,.btn-info.disabled,.btn-info[disabled]{
  color: #fff;
  background-color: #005E56;
  *background-color: #2E7976;
}
.btn-info:active,.btn-info.active{
  background-color: #039 \9;
}

/*==================================================
 * Effect 2
 * ===============================================*/
.effect2{
  position: relative;
  margin-bottom: 20px;
}
.effect2:before, .effect2:after{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.effect2:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

/*==================================================
 * Media Queries
 * ===============================================*/
@media only screen and (max-device-width: 480px){
  body{
    font-size:16px !important;
  }
  header img{
    margin-left: 13%;
  }
  header h1{
    font-size: 20px !important;
  }
  h1 {
    font-size: 25px;
  }
  .ribbon{
    visibility: hidden;
  }
  .course-content h3{
    font-size: 16px !important;
  }
  .box-style h2{
    font-size: 25px !important;
  }
  .ribbon{
    height: 79px;
    width: 55px;
  }
  .ribbon img{
    width: 75%;
    margin-top: 45%;
  }
  iframe{
    height: auto;
  }
  .course-content > ul > li{
    font-weight: normal;
  }
  .place-of-event, .date-of-event, .price-of-event{
    height: auto;
  }
}

@media (max-width: 767px){
  header{
    height:90px;
    background: url("../img/hasgeek-presents.png") no-repeat; 
    text-align: center; 
    margin-left: 15px;
    margin-top: 35px;
  }
  .masthead{
    display: none;
  }
  .ribbon{
    display: none;
  }
  .polaroid img{
    width: 50%;
    height: auto;
  }
  .hasgeek-logo{
    width: 80px;
    height: auto;
  }
  #speaker-name{
    margin-left: -25%;
  }
  #credits, #copyright{
    text-align: center;
    padding: 3px;
  }
}

@media (min-width: 768px) and (max-width: 979px){
  .place-of-event, .date-of-event, .price-of-event{
    min-height: 265px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .place-of-event a{
    margin-top: 65px;
  }
  .polaroid{
    margin-left: -20px;
  }
  header{
    height: 300px;
  }
  #caption{
    font-size: 25px;
    margin-bottom: 20px;
  }
  .sidebar{
    font-size: 13px;
  }
  .ribbon{
    margin-top: -310px;
  }
  .hasgeek-logo{
    width: 50px;
    height: auto;
  }
  .polaroid img{
    width: 100px;
    height: auto;
    border-width: 5px;
    border-bottom-width: 30px
  }
  .polaroid{
    margin-top: 5px;
  }
  #speaker-name{
    margin-left: -18px;
  }
  .price-of-event p{
    padding-right: 3px;
  }
}
@media (min-width: 980px) and (max-width: 1200px){
  header{
    height: 390px;
  }
  .ribbon{
    margin-top: -405px;
  }
  .hasgeek-logo{
    width: 80px;
    height: auto;
  }
  .polaroid img{
    width: 150px;
    height: auto;
  }
  #speaker-name{
    margin-left: -10px;
  }
  #caption{
    margin-bottom: 20px;
    font-size: 28px;
  }
  .place-of-event, .date-of-event, .price-of-event{
    min-height: 220px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
  }
  .price-of-event p{
    padding-right: 0px;
  }
}
