/* Resets and overrides
 */
* {
  margin: 0;
  padding: 0;
}	

/* BODY
 */
body {
margin:0;
font-family: "Open Sans","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Arial,sans-serif;
font-size: 24px;
line-height: 39px;
color: #333333;
}

h1 {
  color:#ec5a1e;
  font-size: 39px;
  padding-bottom: 12px;
}

a {
  color: rgb(44, 182, 115);
}


/* HEADER
 */

header{
  background: transparent;
  background: linear-gradient(135deg, rgba(72,186,115,1), rgba(247,148,29,1)) ;
  background-size: cover;
  height:600px;
}

.content {
  float: none; 
  margin: 0 auto;
  max-width: 900px;
  padding-top: 39px;
}

.header .title {
  color: white;
  font-size: 96px;
  letter-spacing: -1px;
  line-height: 1;
  margin: 0px;
}

.header .date, .header .venue, .header .price {
  font-size: 32px;
  padding-top: 16px;
}

.header .buy-ticket {
  padding-top: 24px;
}

.header a {
  color: #333333;
}

.header .cta-buttons {
  background-color: rgb(224,93,54);
  box-shadow: 3px 3px 3px #333333;
  color: white;
  font-size: 39px;
  padding: 20px 39px;
}

/* WORKSHOP DETAILS
 */
.container {
  max-width: 900px;
}

.container .intro p {
  padding-top: 48px;
  padding-bottom: 6px;
}

.container .intro p {
  font-size: 39px;
}

.container .workshop-pitch {
  padding-top: 12px;
  padding-bottom: 6px;
}

.container .targeted-audience {
  padding-top: 12px;
  padding-bottom: 6px;
}

.container .course-content {
  padding-top: 12px;
  padding-bottom: 6px;
}

.container .course-content div ul li{
  list-style-type: square; 
  font-size: 24px;
  font-weight: bold;
}

.container .course-content div ul li ul li {
  font-size: 24px;
  font-weight: normal;
  list-style-type: square; 
  margin-left: 39px;
}

.container-fluid .trainer-bio {
  background: rgb(44, 182, 115);
  padding-bottom:  39px;
}

.container-fluid .trainer-bio .media .media-heading {
  font-size: 24px;
  font-weight: bold;
}

.container-fluid .trainer-bio .media .media-body {
  font-size: 24px;
  font-weight: normal;
}

.container-fluid {
  color: white;
}

.container-fluid h1 {
  color: white;
}

.container-fluid .testimonials {
  background: rgb(247, 148, 29);  
}
.container-fluid .row {
  max-width: 900px;
  float: none; 
  margin: 0 auto;
}

#carousel-testimonials {
  height: auto;
  min-height: 550px;
}

.testimonial, .testimonial-author {
  padding-left: 150px;
  padding-right: 150px;
}

#carousel-testimonials .carousel-control{
  background: transparent;
  padding-left: :5px;
  padding-right: 5px;
}

.address-description {
  padding-top: 10px;
  font-size: 24px;
} 

.address {
  padding-top: 12px;
  font-size: 24px;
}

#map {
  height: 200px;
  width:  100%;
}

.venue-pic {
  max-width: 100%;
  height: auto;
}
.venue-location {
  padding-top: 20px;
}

/* RELATED EVENTS
 */
.panel {
  background: rgb(247, 148, 29);
}

.panel .panel-body {
  padding: 39px;
}
.panel .panel-body .event-name {
  font-size: 24px;
  color: white;
  font-weight: bold;
}

.panel .panel-body .event-by {
  font-size: 24px;
  padding-bottom: 24px;
}

.panel .panel-body .event-date {
  font-size: 24px;
}

.panel .panel-body .event-city {
  font-size: 24px;
}


.panel .panel-body .event-price {
  font-size: 24px;
}

.panel .cta-buttons {
  background-color: rgb(224, 93, 54);
  color: inherit;
}

.panel a {
  color: white;
}

/* RELATED JOB OPPORTUNITIES AND RESOURCES
 */

.other-stuff {
  font-size: 16px;
}

.other-stuff div ul{
  list-style-type: none;
}

.other-stuff-title {
  color: #ec5a1e;
  font-size: 39px;
}

.other-stuff-item-title {
  font-size: 18px;
}

.other-stuff-item-title {
  font-size: 18px;
}

/* SUBSCRIBE FORM
 */

.form-group {
  padding-top: 24px;
}

.subscribe-button {
  background-color: rgb(224, 93, 54);
  color: white;
}

.social .unstyled {
  list-style-type: none;
  padding-top: 20px;	
}

footer {
  color: #333333;
  font-size: 24px;
  background: rgb(185, 224, 203);
}

footer .media {
  padding-top: 20px;
  max-width: 900px;
  float: none; 
  margin: 0 auto;
  padding-bottom: 20px;
}