/* BODY
 */
body {
margin:0;
font-family: "Open Sans","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Arial,sans-serif;
font-size: 20px;
line-height: 30px;
color: #333333;
}

h1 {
  color:#ec5a1e;
}

/* HEADER
 */

header{
  height:500px;
  background: transparent;
  background: linear-gradient(-45deg, rgba(223, 94, 14,0.85), rgba(255,255,44,0.5), transparent),  url('../img/header.jpg') ;
  background-size: cover, cover;
}

.header h1 {
  font-size: 47px;
  line-height: 1;
  color: inherit;
  letter-spacing: -1px;
  color: rgb(129, 104, 148);
  text-shadow: 1px 1px 1px rgb(145, 139, 139);
  margin: 0px;
  padding-top: 120px;
}

.header .date {
  padding-top: 12px;
  font-size: 24px;
  color: rgb(129, 104, 148);
}

.header .venue {
  padding-top: 12px;
  font-size: 20px;
}

.header .price {
  padding-top: 24px;
  font-size: 24px;
  color: rgb(129, 104, 148);
}

.header .buy-ticket {
  padding-top: 12px;
}

.header a {
  color: rgb(129, 104, 148);
}

.header .cta-buttons {
  background-color: transparent;
  border-color: rgb(129, 104, 148);
  color: inherit;
}


/* WORKSHOP DETAILS
 */
.container {
  width: 900px;
}

.container blockquote {
  font-size: 24px;
}

.container .course-content div ul li{
  list-style-type: none; 
  font-size: 16px;
  font-weight: bold;
}

.container .course-content div ul li ul li {
  font-size: 16px;
  font-weight: normal;
  list-style-type: circle; 
}

.container .media .media-heading {
  font-size: 20px;
  font-weight: bold;
}

.container .media .media-body {
  font-size: 16px;
  font-weight: normal;
}

.container-fluid {
  background: linear-gradient(-45deg, rgba(223, 94, 14,0.85), rgba(239,180,47,1), transparent);
  color: white;
}

.container-fluid h1 {
  color: white;
}

.container-fluid .row {
  width: 900px;
  float: none; 
  margin: 0 auto;
}

#carousel-testimonials {
  height: 200px;
}

#carousel-testimonials .carousel-control{
  background: transparent;
}