/* Resets and overrides
 */
* {
  margin: 0;
  padding: 0;
}	

/* BODY
 */
body {
margin:0;
font-family: "Open Sans","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Arial,sans-serif;
font-size: 24px;
line-height: 39px;
color: #333;
}

h1 {
  color:#ec5a1e;
  font-size: 39px;
  padding-bottom: 12px;
}

a {
  color: rgb(44, 182, 115);
}


/* HEADER
 */

header{
  background: transparent;
  background: linear-gradient(135deg, rgba(72,186,115,1), rgba(247,148,29,1)) ;
  background-size: cover;
}

.content {
  margin: 0 auto;
  padding: 45px 15px;
  max-width: 900px;
}

.header .title {
  color: white;
  font-size: 70px;
  letter-spacing: -1px;
  line-height: 1;
  margin: 0px;
}

.header .date, .header .venue, .header .price {
  font-size: 30px;
  margin: 15px 0 0;
}

.header a {
  color: #333333;
}

.buy-ticket {
  background: #DF5E0E;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  color: white;
  font-size: 20px;
  padding: 12px 20px;
  border-width: 0 0 3px;
  border-color: #bb4e0a;
  margin: 24px 0 0;
}

.buy-ticket:hover {
  background-color: #d0580d;
}
/* WORKSHOP DETAILS
 */
.workshop-details {
  max-width: 900px;
}

.workshop-details .intro p {
  font-size: 30px;
  margin: 45px 0;
  line-height: 1.5;
}

.workshop-details .section {
  padding: 20px 0;
}

.heading {
  font-size: 35px;
  margin: 15px 0;
  padding: 0;
}

.para {
  font-size: 18px;
  margin: 5px 0;
  padding: 0;
}

.workshop-details .course-content div ul li{
  list-style-type: square; 
  font-size: 24px;
  font-weight: bold;
}

.workshop-details.course-content div ul li ul li {
  font-size: 24px;
  font-weight: normal;
  list-style-type: square; 
  margin-left: 39px;
}

.trainer-wrapper {
  background: rgb(44, 182, 115);
  padding: 20px 15px;
  color: #fff;
}

.trainer-wrapper .heading,
.testimonials .heading {
  color: #fff;
}

.trainer-bio {
  max-width: 900px;
  margin: auto;
}

.instructor-image {
  width: 100%;
  max-width: 150px;
  margin: 0 0 20px;
}

.instructor {
  font-size: 25px;
  margin: 0 0 20px;
}

.ticketing {
  padding: 20px 0;
  max-width: 900px;
}

.testimonials-wrapper {
  background: #f7941e;
  color: #fff;
}

.testimonials {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px 0;
}

#carousel-testimonials .item{
  min-height: 530px;
  padding: 0 20px;
}

@media (min-width: 1200px) {
  #carousel-testimonials .item{
    min-height: 450px;
  }
}

#carousel-testimonials .carousel-control {
  background: transparent;
  margin: 0 -20px;
}

@media (min-width: 1200px) {
  #carousel-testimonials .item {    
    padding: 0 20px;
  }
  #carousel-testimonials .carousel-control {
    margin: 0 -100px;
  }
}

.img-square {
  max-height: 60px;
}

.address-description {
  padding-top: 10px;
  font-size: 24px;
} 

.address {
  padding-top: 12px;
  font-size: 24px;
}

#map {
  height: 200px;
  width:  100%;
}

.venue {
  padding: 20px 0;
}

.venue-pic {
  max-width: 900px;
  height: auto;
}

.venue-location {
  padding-top: 20px;
}

/* RELATED EVENTS
 */

.panel {
  background: rgb(247, 148, 29);
}

.panel .panel-body {
  padding: 39px;
}
.panel .panel-body .event-name {
  font-size: 24px;
  color: white;
  font-weight: bold;
}

.panel .panel-body .event-by {
  font-size: 24px;
  padding-bottom: 24px;
}

.panel .panel-body .event-date {
  font-size: 24px;
}

.panel .panel-body .event-city {
  font-size: 24px;
}


.panel .panel-body .event-price {
  font-size: 24px;
}

/* RELATED JOB OPPORTUNITIES AND RESOURCES
 */

.other-stuff {
  font-size: 16px;
}

.other-stuff div ul{
  list-style-type: none;
}

.other-stuff-title {
  color: #ec5a1e;
  font-size: 39px;
}

.other-stuff-item-title {
  font-size: 18px;
}

.other-stuff-item-title {
  font-size: 18px;
}

.social .unstyled {
  list-style-type: none;
  padding-top: 20px;	
}

footer {
  color: #333333;
  font-size: 24px;
  background: rgb(185, 224, 203);
  padding: 40px 0;
}

.logo-wrapper {
  text-align: center;
}

footer .hasgeek-logo {
  width: 130px;
  margin: 0 0 20px;
}

.about {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 15px;
}